//@use "sass:color";

$color-fondo: #212121;
$color-tarjeta: #424242;
$color-texto: #eeeeee;
$color-texto-en: #bdbdbd;
// $fuente: 'IBM Plex Mono';
$fuente-base: 'Work Sans', sans-serif;
$fuente-titulos: 'Space Mono', monospace;

// todo el sitio

body {
  background: $color-fondo;
  color: $color-texto;
  font-family: $fuente-base;
}

h1,
h2,
h3 {
  font-family: $fuente-titulos;
}

//div {}

img {
  height: 100%;
  width: 100%;
  // object-fit: cover;
}

a {
  color: #ffea75;
  // color: $color-texto;
  // text-decoration-color: yellow;
  // text-decoration: none;
}

a:hover {
  background-color: rgba($color: #ffea75, $alpha: 0.15);
}

.grilla {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 280px);

  @media (max-width:500px) {
    grid-template-columns: repeat(auto-fit, 90vw);
    // background-color: yellowgreen;
  }

  // grid-template-columns: repeat(auto-fit, minmax(300px, 0.75fr));
  grid-gap: 20px;

  @media (max-width:480px) {
    grid-template-columns: repeat(auto-fit, 90vw);
  }
}

.nombre-sección h2 {
  margin-top: 0;
}

.tarjeta {
  padding: 10px;
  color: $color-texto;
  // border: 2px solid white
}

.título-sección {
  grid-column-start: 1;
}

.título-sección+.galería {
  grid-column-start: 1;
}

.título-sección+.proyecto {
  grid-column-start: 1;
}

.proyecto {
  background: $color-tarjeta;
}

.vacío {
  background-color: $color-fondo;
}

.celda-izquierda {
  grid-column-start: 1;
}

.galería {
  background-color: $color-tarjeta;
  padding: 10px;
}

.flex-contenedor {
  display: flex;
  height: 50vh;
  background-color: $color-tarjeta;
  padding: 10px;
  overflow-x: scroll;
}

.flex-contenedor img {
  width: auto;
  margin-right: 15px;
}

// colores etiquetas secciones

#biografía {
  background-color: $color-fondo;
}

#proyectos {
  // background-color: #311B92;
  grid-column-start: 1;
}

#contacto {
  grid-column-start: 1;
  // background-color: #880E4F;
}

.rectangulo {
  height: 280px;
  background: #bb42b3;
}

.rectangulo img {
  object-fit: cover;
}

.ancho-completo {
  // padding: 10px;
  grid-column: 1 / -1;
}

.ancho-medio {
  grid-column: 1 / -2;
}

.en {
  font-style: italic;
  color: $color-texto-en;
}