---
layout: default
---

<div class="grilla">

  <!-- ficha menu principal
  <div class="vacío">
    <div id="menu" class="ficha">  
      <h1><a href="ignacioabe.cl">Ignacio Abé</a></h1>
    </div>
  </div> -->

  <div id="titulo-sitio" class="celda-izquierda">
    <h2><a href="/">Ignacio Abé/</a></h2>
  </div>

  <!-- biografía -->
  <!-- <div id="biografía" class="">
    <div class="rectangulo">
      <img src="assets/img/carnet.jpg" alt="">
    </div>
  </div> -->
  <div>
    <h1 class="nombre-sección">HOLA!</h1>
    <p>Soy Ignacio Abé, arquitecto y master en urbanismo,
      especializado en movilidad sostenible, mapas y análisis de información geoespacial.</p>
    <p>Bienvenido a mi sitio web.</p>
  </div>

  <!-- proyectos -->
  <div id="proyectos" class="título-sección">
    <h2 class="nombre-sección">PROYECTOS/</h2>
    <!-- <p>La selección de proyectos aquí presente cubre un</p> -->
  </div>


  <!-- bucle proyectos -->
  {% assign proyectos = site.proyectos | sort: 'agno' | reverse %}
  {% for proyecto in proyectos %}
  <div class="tarjeta proyecto">
    <div class="rectangulo">
      <a href="{{ proyecto.url }}">
        <img src="{{ proyecto.foto }}" alt="">
      </a>
    </div>
    <h3><a href="{{ proyecto.url }}">{{ proyecto.nombre }}</a></h3>
    <p>{{ proyecto.texto-corto-es }}</p>
  </div>
  {% endfor %}

  <!-- blog -->
  <div id="proyectos" class="título-sección">
    <h2 class="nombre-sección">BLOG/</h2>
    <!-- <p>La selección de proyectos aquí presente cubre un</p> -->
  </div>

  <!-- bucle blog -->
  <div class="tarjeta proyecto">
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- contacto -->
  <div id="contacto" class="">
    <h2 class="nombre-sección">CONTACTO/</h2>
    <p>tel: +39 3313117722</p>
    <p>correo: <a href="mailto:ignacio.abe@gmail.com">ignacio.abe@gmail.com</a></p>
    <p> ubicación: Venecia, Italia</p>
  </div>

  <!-- redes -->
  <div id="redes" class="">
    <h2 class="nombre-sección">REDES/</h2>
    <p><a href="https://instagram.com/ignacioabe/" target="_blank">instagram</a></p>
    <p><a href="https://github.com/ignacioabe/" target="_blank">github</a></p>
    <p><a href="https://twitter.com/ignacioabe" target="_blank">twitter</a></p>
    <p>otros</p>
  </div>