---
layout: default
---

<div class="grilla">

  <div id="titulo-sitio" class="celda-izquierda">
    <h2><a href="/">Ignacio Abé/</a></h2>
  </div>

  <div>
    <h2>PROYECTOS/</h2>
  </div>
  <div class="">
    <h3 class="post-title" itemprop="name headline">{{ page.nombre | escape }}</h3>
    <p>cliente: {{ page.cliente }}</p>
    <p>año: {{ page.agno }}</p>
    <p><a href="{{ page.enlace-ext }}" target="_blank">SITIO WEB</a></p>
    <!-- <p>herramientas: {{ page.herramientas }}</p> -->
  </div>

  <!-- <div class="ancho-completo fotoportada">
    <img src="{{page.foto}}" alt="">
  </div> -->

  <div class="descripcion es celda-izquierda">
    <h2>txt.ES:</h2>
    {{page.texto-largo-es | markdownify }}
  </div>

  <div class="descripcion en">
    <h2>txt.EN:</h2>
    {{page.texto-largo-en | markdownify }}
  </div>

  <!-- prueba -->
  <!-- <div class="flex-contenedor ancho-completo">
    <img src="https://source.unsplash.com/random/500x500" alt="">
    <img src="https://source.unsplash.com/random/500x500" alt="">
    <img src="https://source.unsplash.com/random/500x500" alt="">
  </div> -->

  <div class="título-sección">
    <h2 class="celda-izquierda">GALERÍA/</h2>
  </div>


  <!-- bucle galería -->
  <div class="flex-contenedor ancho-completo">
  {% for imagen in page.galeria-img %}
      <img src="{{page.carpeta-img}}/{{ imagen }}" alt="" loading="lazy">
      {% endfor %}
  </div>

  <div class="contenido-proy">
    {{ content }}
  </div>

  <!-- bucle otros proyectos -->
  <div class="celda-izquierda">
    <h2>OTROS PROYECTOS/</h2>
    {% assign proyectos = site.proyectos | sort: 'agno' | reverse %}
    {% for proyecto in proyectos %}
    <p><a href="{{ proyecto.url }}">{{ proyecto.nombre }}</a></p>
    <!-- <p>{{ proyecto.texto-corto-es }}</p> -->
    {% endfor %}
    <!-- volver al inicio -->
  </div>

  <div class="celda-izquierda">
    <h3>
      <a href="#titulo-sitio">↑ Volver arriba</a>
    </h3>
  </div>

  </article>